* {
    margin: 0;
    padding: 0;
}

header {
    height: 350px;
    background-color: #242424;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #cbcbcb;

}
.title {
    font-size: 250%;
    text-align: center;
}

.menu {
    height: 20%;
}
.menu ul{
    display: flex;
    list-style-type: none;
    width: 50%;
    float: right;
}
.menu ul a {
    text-decoration: none;
    color: #cbcbcb;
    font-size: 140%;
    width: 100%;
    text-align: center;
}
.menu ul a:hover{
    background-color: #242424;
    color: #cbcbcb;
    font-size: 200%;
}

.container {
    margin: 0 5%;
    text-align: justify;
}
.container h2 {
    width: auto;
    margin: 2% 0;
    position: relative;
}
.container p {
    width: 50%;
}

.banner {
    height: 80%;
}

.introducao {
    height: auto;
}
.intro-cont {
    display: flex;
}
.apresentacao {
    background-color: #f7d1d1;
    height: auto;
}

footer {
    background: #a8afaf;
    color: white;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}
.redes-sociais-itens {
    float: right;
    width: 100%;
}
.contato, .mapa-site, .redes-sociais, rodape {
    color: #354058;
}
.rodape {
    background-color: black;
    color: #fff;
}

.rodape.container {
    float: right;
}