@import url('https://fonts.googleapis.com/css?family=Raleway:100');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    height: auto;
    background-color: #020202;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #cbcbcb;
    display: flex;
    flex-direction: column;
    border-top: 2px solid yellow;
    border-bottom: 2px solid blue;
}

.imagem-header {
    text-align: center;
    padding: 2% 0;
}
.imagem-header img {
    background-size: cover;
    width: 50%;
    height: auto;
}

.title {
    font-size: 430%;
    text-align: center;
    color: #cccccc;
    padding-top: 2%;
}

.menu {
    height: 20%;
}
.menu ul{
    display: flex;
    list-style-type: none;
    width: 50%;
    float: right;
    margin-top: 1%;
}
.menu ul a {
    text-decoration: none;
    color: #cbcbcb;
    font-size: 140%;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid transparent;
}
.menu ul a:hover{
    color: #cbcbcb;
    /* font-size: 200%; */
    border-bottom: 2px solid #FFEB3B;
    /* border-top: 1px solid #cccccc; */
    background-image: linear-gradient(to bottom, #090909, #ffeb3b1a);
    font-weight: bold;
}

.container {
    margin: 0 5%;
    text-align: justify;
}
.container h2 {
    width: auto;
    margin: 2% 0;
    position: relative;
}
.container p {
    width: 50%;
}

.banner {
    height: 80%;
}

.introducao {
    height: auto;
}
.intro-cont {
    display: flex;
}
.apresentacao {
    background-color: #f7d1d1;
    height: auto;
}

footer {
    color: white;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    background: #222222;
}
.redes-sociais-itens {
    float: right;
    width: 100%;
}
.contato, .mapa-site, .redes-sociais, rodape {
    color: #ffffff;
}
.rodape {
    background-color: black;
    color: #fff;
}

.rodape.container {
    float: right;
}